#sudo cp systemd/rfid-device.service /etc/systemd/system
#sudo systemctl daemon-reload
#sudo systemctl enable rfid-device
#sudo systemctl start rfid-device

[Unit]
Description=RFID Device Listener
After=network.target
#Wants=rfid-phidgetnetworkserver <-- doesn't work so sometimes you get an error when phidget starts afterwards, but then it retries and works

[Service]
User=pi
WorkingDirectory=/home/pi/rfid-makerlab/build/devices
ExecStart=/usr/bin/node device-main.js
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
