#sudo cp systemd/rfid-phidgetnetworkserver.service /etc/systemd/system
#sudo systemctl daemon-reload
#shouldn't need to enable/start this one as it will be started by the rfid script

[Unit]
Description=RFID Phidget Network Server - Needed for javascript to talk to the phidget
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi
ExecStart=phidget22networkserver
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target