#sudo cp systemd/rfid-phidgetnetworkserver.service /etc/systemd/system
#sudo systemctl daemon-reload
#sudo systemctl enable rfid-phidget22networkserver
#sudo systemctl start rfid-phidget22networkserver 

[Unit]
Description=RFID Phidget Network Server - Needed for javascript to talk to the phidget
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi
ExecStart=/usr/bin/phidget22networkserver
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
